ss-section-printer-status {

	video {
		display: block;
		position: relative;
		width: 100%;
		top: 0;
		z-index: 1;
	}

	.buttons-wrapper {
		width: 100%;
		padding: 40px;
		text-align: center;

		.button-error {
			background: rgb(202, 60, 60);
			color: white;

		}
	}
}