
ss-section-designs {
	padding: 35px;

	.row-container {
		display: table;
		width: 100%;

		.stl-header-row {
			display: table-row;
			padding: 10px;
			font-size: 14px;
			font-weight: 700;
			color: #565d64;

			> * {
				display: table-cell;
				vertical-align: middle;
				border-bottom: 1px solid #EEE;
				padding: 10px;
				text-align: center;
				width: 150px;
			}

			div:nth-child(2) {
				width: 300px;
			}
		}
	}

	.placeholder {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 500px;

		img {
			max-height: 200px;
			width: 40%;
		}

		h3 {
			font-size: 15px;
			font-weight: 300;
		}
	}
}