ss-section-menu {
	padding: 0;
	padding-left: 20px;

	a.choice {
		display: block;
		border: 1px solid #CCC;
		padding: 10px 0px;
		margin: 20px;
		margin-left: 0;
		border-radius: 0px;
		text-align: center;
		box-shadow: 0px 0px 1px #d4d4d4;
		cursor: pointer;
		color: inherit;
		
		text-decoration: none;
		&:visited, &:hover, &:active {
			color: inherit;
		}

		&:hover {
			box-shadow: 1px 1px 1px #6d6d6d80;
			//background-color: #ffe5b4fa;
			transform: scale(1.02);
		}

		img {
			padding: 0;
			margin: 10px 30px;
			margin-bottom: 15px;
			max-height: 80px;
		}

		p {
			padding: 0;
			margin: 0;
		}
	}
}