ss-dialog-edit-design {

	.modal-dialog{
		margin-left: -512px;
		width: 1024px;
		max-width: 1024px;
		min-height:650px;
	}

	.stl-contanier {
		margin-top: 20px;
		height:500px;
		border:1px solid #AAA;
		background-image: url("../images/placeholder.svg");
		background-size: contain;
		background-position: center;
		position: relative;

		> div {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			text-align: center;
			position: absolute;
			cursor: pointer;

			a {
				width: 100%;
				font-size: 18px;
				font-weight: 800;
				color: #7b7b7b;
				text-decoration: none;
				padding: 20px;
			}
		}

		ss-stl-viewer {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 1;
		}

	}

}